[data-tags] {border-bottom: 1px solid currentColor;}

[data-tags~="programming"] {border-bottom-color: #b1e8ff;}
[data-tags~="mathematics"] {border-bottom-color: #e9ff70;}
[data-tags~="electronics"] {border-bottom-color: #caf7e2;}
[data-tags~="engineering"] {border-bottom-color: #fffd82;}
[data-tags~="music"] {border-bottom-color: #f2e9dc;}
[data-tags~="art"] {border-bottom-color: #dbd8f0;}
[data-tags~="hardware"] {border-bottom-color: #a9fbc3;}
[data-tags~="software"] {border-bottom-color: #c6e2e9;}